@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap');

body{
  padding-top: 0;
  background-color: #f8f8ff;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

a{
  color: #000000;
  font-size: 20px;
}

a:visited{
  color: #fa7268;
}

h1{
  font-family: 'Oswald', sans-serif;
}

h2{
  font-family: 'Oswald', sans-serif;
}

h3{
  font-family: 'Oswald', sans-serif;
}

img{
  width: 20px;
  padding: 5px;
  vertical-align: middle
}

main{
  display: grid;
  clear: both;
  grid-template-columns: 2fr,auto;
  grid-auto-rows: minmax(150px, auto);
  column-gap: 100px;
}

#wrapper{
  max-width: auto;
  margin: 0;
}

#header{
  height: 150px;
  background-color: #000000;
  color: #f8f8ff;
  font-size: 48px;
  text-align: center;
}

#contact{
  grid-column: 1;
  grid-row: 1;
  text-align: right;
}

#education{
  grid-column: 1;
  grid-row:2;
  text-align: right;
}

#expertise{
  grid-column: 1;
  grid-row: 3;
  text-align: right;
}

#relevant-coursework{
  grid-column: 1;
  grid-row: 4;
  text-align: right;
}

.cookerly{
  background-color: #f8f8ff;
  color: #000000;
  grid-column: 2;
  grid-row: 2;
}

.cookerly p:before{
  content: " • ";
}

.creative-loafing{
  background-color: #f8f8ff;
  color: #000000;
  grid-column: 2;
  grid-row: 3;
}

.creative-loafing p:before{
  content: " • ";
}
.pacific-pearl{
  background-color: #f8f8ff;
  color: #000000
  grid-column: 2;
  grid-row: 4;
}

.pacific-pearl p:before{
  content: " • ";
}









}
